*{
	font-family: "Arial", sans-serif !important;
}

html {
	background-color: #238CE5;
}

body{
	margin:0px;
	padding:0px;
	/*background-color: #238CE5;*/
	background-color:#5a6093;
}

nav{
	background-color:#404558;
	color: white;
	width: 100%;
}

main{
	background-color: #238CE5;
	padding: 10px;
	min-height: 80%;
}

nav ul{
	margin:0px;
	padding:0px;
	overflow: hidden;

}

nav li{
	list-style-type: none;
	float: left;
}

nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: white;
}

a{
	font-family: "Arial", sans-serif;
	text-decoration: none; /* no underline */
}

.menu:hover{ 
	border-right: 3px solid #9BA0C8;
	border-left:  3px solid #9BA0C8;
	background-color: rgba(155, 160, 200, 0.15);
}

.menu-current
{
	background-color: rgb(50,50,70);
}
.menu-current:hover
{
	background-color: rgb(30,30,50);
}

.deconnexion a{
	all:unset; /* ne marche pas, cf balise style dans le header.php */ 
	padding: 20px 30px;
	position: absolute;
	right: 0px;
	top:0px;
	color: white;
}

.deconnexion a:hover{
	border-right: 3px solid #F91111;
	border-left:  3px solid #F91111;
	background-color: rgba(254, 49, 49, 0.25);
}

nav li:hover a {
	padding: 15px 30px 20px 30px;
}

.table{
	position: relative;
	display: table;
	margin: auto;
}

section{
	display: table;
	margin:auto;
	margin-top: 12%;
	height: 20em;
	width:60%;
	border-radius: 10px;
	border: solid;
	background-color: white;
}

