body {
	background-color: #238CE5;
	margin: 0px;
	padding:0px;
}

h1 {
	padding-top: 20px;
	color: white;
	text-align: center;
}

.formulaire_inscripton {
	width:400px;
	height:200px;
	background: white;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    border: 3px solid #404558;
    margin-top: 15%;
    border-radius: 15px;
}

.btn-valider {
	background-color:#404558;
	padding: 8px 18px;
	border-radius: 15px;
	border: 1px solid black;
	color: #FFF;
}


.btn-annuler {
	background-color:#404558;
	color: #FFF;
	padding: 8px 15px;
	border-radius: 15px;
	border: 1px solid black;
}

.btn-valider:hover {
	background-color: #0BDA10;
}

.btn-annuler:hover {
	background-color: #DA0B0B;
}






