
.menu_secondaire_bar{
	font-style: none;
	width: 100%;
	background-color: red;/*#238CE5;*/
}

.usager_menu {
	font-style: none;
}

.usager_button a {
	color: #888;
}

.usager_button {
	background-color: #404558;
	padding: 10px;
	margin: 30px;
}

.usager_button_surbrillance {
	background-color: white;/*#404558;*/
	padding: 10px;
	margin: 30px;
}

.usager_button_surbrillance a {
	color: black;
	font-weight: bold;
}


