
.menu_secondaire_bar{
	font-style: none;
	width: 100%;
	background-color: #238CE5;
}

.usager_menu{
	font-style: none;
}

.usager_button
{

	background-color: white;
	padding: 10px;
	margin: 30px;
}

.usager_button a
{
	color: black;
}
